{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Steakery | About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <br> </br>
    <header>
        <h1>About The Steakery</h1>
    </header>

    <nav class="navbar navbar-expand-lg">
   
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'menu' %}">Menu</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </nav>

    <section id="about" class="container my-5">
        <h2>Our Story</h2>
        <p>The Steakery was born out of a passion for quality food and a love for the city of Dublin. Combining the best of both worlds—grilling and baking—we offer a unique dining experience that has quickly become a favorite among locals and visitors alike. Our chefs are dedicated to using only the finest ingredients, sourced locally whenever possible, to create dishes that are both flavorful and satisfying.</p>
        <br> </br>
        <h2>Our Philosophy</h2>
        <p>At The Steakery, we believe that great food comes from great ingredients. That’s why we focus on quality at every step, from selecting the best cuts of meat to baking our bread fresh every day. We strive to create a warm and welcoming atmosphere where you can enjoy the finest steaks and bakery delights in Dublin.</p>

   
    </section>

   

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
{% endblock %}