{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container my-5">
    <section id="about" class="text-center mb-5">
        <h2>Our Story</h2>
        <p>The Steakery was born out of a passion for quality food and a love for the city of Dublin. Combining the best of both worlds—grilling and baking—we offer a unique dining experience that has quickly become a favorite among locals and visitors alike. Our chefs are dedicated to using only the finest ingredients, sourced locally whenever possible, to create dishes that are both flavorful and satisfying.</p>
    </section>

<div class="container">
    <div class="gallery">
        <div class="gallery-item">
            <img src="{% static 'images/the_steakery_bakery.webp' %}" alt="The Steakery Bakery">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/bakery1.webp' %}" alt="Baking at The Steakery">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/steakery1.webp' %}" alt="Meat Grilling at The Steakery">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/steakery3.webp' %}" alt="Inside The Steakery">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/steakery4.webp' %}" alt="Flames on Grill">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/steakery5.webp' %}" alt="Bakery Items">
        </div>
        
    </div>
</div>
{% endblock %}