{% extends 'base.html' %}
{% load static %} 

{% block title %}
    Booking Form
{% endblock %}

{% block content %}
<br> </br>

    <h2>Booking Form</h2>
    <label for="special_requests">Special Requests:</label>
<textarea id="special_requests" name="special_requests" rows="4" placeholder="Add any dietary preferences or special requests"></textarea>


<br> </br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
