{% extends 'base.html' %}
{% load static %} 

{% block content %}

<div class="container text-center mt-5">
    <img src="{% static 'images/the_steakery_home.png' %}" style="width: 600px; height: auto; opacity: 0.5;">
    <br> </br>
    <br> </br>
    <h3>Bake by Day, Steak by Night</h3>
    <p>Experience the finest steaks and freshly baked delicacies.</p>

    {% if user.is_authenticated %}
        <p>Welcome back, {{ user.username }}!</p>
        <a href="{% url 'logout' %}" class="btn btn-primary">Log Out</a>
    {% else %}
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
        <a href="{% url 'login' %}" class="btn btn-secondary">Log In</a>
    {% endif %}
</div>
{% endblock %}