{% extends 'base.html' %}

{% block title %}
The Steakery
{% endblock %}

{% block content %}

<body>
    <header>
        <h1>Welcome to The Steakery</h1>
        <p>Dublin's Premier Steakhouse & Bakery</p>
    </header>



    <section id="hero" class="text-center">
        <img src="media/tslogo.webp" class="img-fluid" alt="The Steakery Restaurant">
        <div class="hero-text mt-4">
            <h2>Experience the Art of Grilling and Baking</h2>
            <h3>Bake by Day, Steak by Night</h3>
            <p>Where savory meets sweet in the heart of Dublin.</p>
    
        </div>
    </section>

    <footer>
        <p>&copy; 2024 The Steakery. All rights reserved.</p>
        <p><i class="fas fa-map-marker-alt"></i> Grafton Street, Dublin, Ireland | <i class="fas fa-phone"></i> +353 1 234 5678</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock %}